{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
 <center><h1><u>Current Issues in Education in India</u></h1></center>
  <div>
    <ul>
      <li>Expenditure on education :More funds should be allotted for the development of the education system in India. In the past few years, many beneficial steps have been taken in this direction and if the same is continued India may soon be overcome the current challenges
      </li>
      <br>
      <li>Capacity utilisation : The world now needs creative minds and the Government must encourage schools to boost the students and utilise their capacities to the max and not let their ideas go unheard</li>
      <br>
      <li>
        Infrastructure facilities :Better infrastructure must be provided especially in Government schools. Since Government is now focussing on digital education, they must undertake steps to provide all necessary facilities in the Government schools and rural areas as well
      </li>
      <br>
      <li>PPP model :Well-designed PPPs can create models of innovation for the school system in India. Thus the Public-Private Partnership (PPP) model must be taken into consideration</li>
      <br>
      <li>Student-teacher ratio : The number of students in search of proper education is way more in comparison to the teachers and faculty available. Thus, qualified teachers must be appointed to impart knowledge to the future of the country</li>
    </ul>
  </div>
  <ul>
    <Li>
        <a href="about">About</a>
    </Li>
  </ul>
  <ul>
    <li>
        <a href="contact">contact</a>
    </li>
  </ul>
</body>
</html>